<ion-header class="sunsting-header">
    <ion-toolbar class="sunsting-header--toolbar">
        <ion-buttons slot="end" class="sunsting-header--toolbar--buttons">
            <ion-menu-button class="sunsting-header--toolbar--buttons--button"></ion-menu-button>
        </ion-buttons>
        <ion-item lines="none" slot="start" class="sunsting-header--toolbar--item">
            <ion-img [src]="url" class="sunsting-header--toolbar--item--logo"></ion-img>
        </ion-item>
        <ion-item lines="none" slot="start" class="sunsting-header--toolbar--item">
            <ion-title class="sunsting-header--toolbar--item--title">{{title}}</ion-title>
        </ion-item>
    </ion-toolbar>
</ion-header>


