@import '../../../theme/variables.scss';

.comment{
  margin-top:15px !important;
  margin-bottom:15px !important;

  --background:transparent !important;
  background: transparent !important;
  padding-left: 25px;
  box-shadow: none !important;
  &--item{
    border-left: 2px solid $firstColor;

  }

  &--content{
    border-left: 2px solid $firstColor;

    &--icon{
      font-size: 25px;
      padding:5px;
      color: $menuLabelColor;
      cursor: pointer;
    }
  }
}









