@import "../../../theme/variables";
.popover--list{
  &--item{
    &--icon{
      color: $secondColor;
      cursor: pointer;
    }
    &--label{
      color:$titleColor !important;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      cursor: pointer;
      font-size: 13px !important;
    }
  }
}




